body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgb(218, 41, 83);
  width: 18%;
  transition: width 0.3s ease;
  box-sizing: border-box;
}

.sidebar.collapsed {
  width: 4%;
}
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  border-bottom: rgba(0, 0, 0, 0.04) solid 1px;
  background: rgba(0, 0, 0, 0.01);
}
.sidebar-header-logo {
  background: transparent;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 50%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-header-logo img {
  max-width: 100%;
  max-height: 100%;
}
.sidebar-header-icon {
  cursor: pointer;
  padding: 0.5rem 0rem;
}

.sidebar-contents-header-text {
  padding-left: 1rem;
  padding-top: 1rem;
  color: white;
  font-size: 16px;
}
.sidebar-contents-list {
  align-content: center;
}

.sidebar-contents-list-headers {
  padding: 10px 30px;
}

.sidebar-contents-list-item {
  width: 220px;
  list-style: none;
  align-items: center;
  position: relative;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sidebar-contents-list-item-master {
  height: 40px;
  width: 210px;
  display: flex;
  align-items: center;
  padding: 0px;
  position: relative;
}

.sidebar-contents-list-master {
  color: white;
  padding-left: 1rem;
}
.sidebar-contents-list-item-master-content {
  overflow: visible;
  width: 180px;
  height: auto;
}
.sidebar-contents-dropdown-list {
  width: 179px;
  padding-left: 0px;
  top: 40px;
  background-color: rgb(218, 41, 83);
}

.sidebar-contents-master-dropdown-list-parts,
.sidebar-contents-master-dropdown-list-ptw,
.sidebar-contents-master-dropdown-list-procurement,
.sidebar-contents-master-dropdown-list-meter,
.sidebar-contents-master-dropdown-list-attendance,
.sidebar-contents-master-dropdown-list-school,
.sidebar-contents-master-dropdown-list-report,
.sidebar-contents-master-dropdown-list-booking,
.sidebar-contents-master-dropdown-list-iaq {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: white;
  cursor: pointer;
  justify-content: flex-start;
}

.dropdown-item-parts-text,
.dropdown-item-ptw-text,
.dropdown-item-procurement-text,
.dropdown-item-iaq-text,
.dropdown-item-booking-text,
.dropdown-item-report-text,
.dropdown-item-school-text,
.dropdown-item-attendance-text,
.dropdown-item-meter-text {
  color: white;
  margin-top: 5px;
  margin-left: 10px;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    z-index: 1;
  }

  .sidebar.collapsed {
    width: 0;
  }
}
