.signoff-history-container{
    padding: 27px 15px;
}
.signoff-history-header{
    display: flex;
    align-items: center;
}
.signoff-history-appid{
    font-size: 16px;
    color: #a0a4a8;
    padding: 6px 25px 0 0;
    white-space: nowrap;
    display: inline-grid;
}
.signoff-history-appid-value{
    color: black;
}
.signoff-history-createdon{
    font-size: 16px;
    color: #a0a4a8;
    padding: 6px 25px 0 0;
    white-space: nowrap;
    display: inline-grid;
}
.signoff-history-createdon-value{
    color: black;

}

.signoff-history-table{
    margin-top: 32px;
}

