/* .layout-wrapper.expanded{
    width: calc(100vw - 18%);
    margin-left: 18%;
    height: calc(100vh - 73px);
  
    transition: margin-left 0.3s ease;
  }
  .layout-wrapper.collapsed{
    width: calc(100vw - 60px);
    padding-left: 59px;
    height: calc(100vh - 73px);
    transition: padding-left 0.3s ease;
  
  } */