.alert {
  position: fixed;
  bottom: 20px; /* Positioned at the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center alignment */
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #333; /* Default snackbar background */
  z-index: 1000;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  animation: "fade-in 0.3s ease, fade-out 0.3s ease";
  opacity: 1;
}

.alert-success {
  background-color: #4caf50; /* Green for success */
}

.alert-error {
  background-color: #f44336; /* Red for errors */
}

.alert-content {
  display: flex;
  align-items: center;
}

.alert-icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
}
