/* .actions-icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.actions-icon button[name='edit']{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 13px;

}
.actions-icon button[name='delete']{
    border: none;
    background: none;
    cursor: pointer;

} */