version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: coesfm-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: admin_coedev
      MYSQL_USER: coedev_usr
      MYSQL_PASSWORD: coedev123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

volumes:
  mysql_data:

networks:
  app_network:
    driver: bridge

    
