version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: coesfm-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ***REMOVED***
      MYSQL_USER: ***REMOVED***
      MYSQL_PASSWORD: ***REMOVED***
    ports:
      - "3308:***REMOVED***"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

volumes:
  mysql_data:

networks:
  app_network:
    driver: bridge

    
