name: SFM CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # ---------------- Frontend ----------------
      - name: Install Frontend Dependencies
        shell: powershell
        run: |
          cd sfm_ui
          npm install

      - name: Build Frontend
        shell: powershell
        run: |
          cd sfm_ui
          npm run build

      # ---------------- Backend ----------------
      - name: Install Backend Dependencies
        shell: powershell
        run: |
          cd sfm_api
          npm install

      - name: Install PM2
        shell: powershell
        run: npm install -g pm2

      # ---------------- PM2 START ----------------
      - name: Start Backend with PM2
        shell: powershell
        run: |
          cd sfm_api
          $env:PM2_HOME="D:\etc\.pm2"
      
          # Find pm2
          $pm2 = (where pm2)
          Write-Host "Using PM2: $pm2"
      
          # Stop & delete old process safely
          pm2 stop sfm-api 2>$null || $true
          pm2 delete sfm-api 2>$null || $true
      
          # Start app
          pm2 start server.js --name sfm-api
      
          # Save process list
          pm2 save



      # ---------------- Deploy Frontend to NGINX ----------------
      - name: Deploy Frontend to NGINX
        shell: powershell
        run: |
          $nginx = "D:\nginx\nginx.exe"

          if (Test-Path $nginx) {
              & $nginx -p "D:\nginx" -s stop
          }

          Start-Sleep -Seconds 3

          $htmlPath = "D:\nginx\html"

          if (Test-Path $htmlPath) {
              try {
                  Remove-Item "$htmlPath\*" -Recurse -Force
              } catch {
                  Write-Host "Folder in use, skipping delete"
              }
          } else {
              New-Item -ItemType Directory -Path $htmlPath -Force
          }

          $source = "D:\actions-runner\_work\sfm\sfm\sfm_ui\dist"

          robocopy $source $htmlPath /E

      # ---------------- Restart NGINX ----------------
      - name: Restart NGINX
        shell: powershell
        run: |
          Start-Process "D:\nginx\nginx.exe" -ArgumentList '-p "D:\nginx" -c "conf\nginx.conf"' -NoNewWindow
