name: SFM CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-run:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          cd D:\actions-runner\_work\sfm\sfm\sfm_api
          npm install

      - name: Stop Existing Node Process
        run: |
          powershell -Command "Get-Process node -ErrorAction SilentlyContinue | Stop-Process -Force"

      - name: Start Application
        run: |
          D:
          cd D:\actions-runner\_work\sfm\sfm\sfm_api
          node server.js
