name: SFM CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # ---------------- Frontend ----------------
      - name: Install Frontend Dependencies
        run: |
          cd sfm_ui
          npm install

      - name: Build Frontend
        run: |
          cd sfm_ui
          npm run build

      # --------------- Backend -------------------
      - name: Install Backend Dependencies
        run: |
          cd sfm_api
          npm install

      - name: Update Backend ENV from Secrets
        run: |
          cd sfm_api
          echo DB_HOST=${{ secrets.DB_HOST }} > .env
          echo DB_PORT=${{ secrets.DB_PORT }} >> .env
          echo DB_USER=${{ secrets.DB_USER }} >> .env
          echo DB_PASS=${{ secrets.DB_PASS }} >> .env
          echo DB_NAME=${{ secrets.DB_NAME }} >> .env
          echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env
          echo PORT=${{ secrets.PORT }} >> .env

          echo EMAIL_HOST=${{ secrets.EMAIL_HOST }} >> .env
          echo EMAIL_PORT=${{ secrets.EMAIL_PORT }} >> .env
          echo EMAIL_USER1=${{ secrets.EMAIL_USER1 }} >> .env
          echo EMAIL_PASS1=${{ secrets.EMAIL_PASS1 }} >> .env

          echo GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }} >> .env
          echo GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }} >> .env

          echo MICROSOFT_CLIENT_ID=${{ secrets.MICROSOFT_CLIENT_ID }} >> .env
          echo MICROSOFT_SECRET=${{ secrets.MICROSOFT_SECRET }} >> .env
          echo MICROSOFT_TENANT_ID=${{ secrets.MICROSOFT_TENANT_ID }} >> .env
          echo MICROSOFT_CALLBACK_URL=${{ secrets.MICROSOFT_CALLBACK_URL }} >> .env

          echo EMAIL_USER=${{ secrets.EMAIL_USER }} >> .env
          echo EMAIL_PASS=${{ secrets.EMAIL_PASS }} >> .env

      - name: Start Backend With PM2
        run: |
          cd sfm_api
          pm2 stop sfm-api || true
          pm2 delete sfm-api || true
          pm2 start server.js --name sfm-api
          pm2 save

      # ---------------- NGINX --------------------
      - name: Deploy Frontend to NGINX
        run: |
          rmdir /s /q "D:\nginx\html" 2>nul
          mkdir "D:\nginx\html"
          xcopy /E /I /Y sfm_ui\dist "D:\nginx\html"

      - name: Restart NGINX
        run: |
          taskkill /F /IM nginx.exe 2>nul || true
          start /B "" "D:\nginx\nginx.exe" -p "D:\nginx" -c "conf\nginx.conf"
